/* DESIGN FOR MOBILE FIRST */
/* GLOBAL */
html * {
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* MAIN CONTENT */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

section#etch-a-sketch {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    /* MOBILE S to L (0px to 320px) */
    width: 90%;
}

/* TABLET */
@media only screen and (min-width: 426px) and (max-width: 768px) {
    section#etch-a-sketch {
        width: 70%;
    }
}

/* LAPTOP and LAPTOP L */
@media only screen and (min-width: 769px) and (max-width: 1440px) {
    section#etch-a-sketch {
        width: 40%;
    }
}

/* 4K and ABOVE */
@media only screen and (min-width: 1441px) {
    section#etch-a-sketch {
        width: 30%;
    }
}

#grid-container {
    display: grid;
    border: 1px solid black;
    grid-template-columns: repeat(4, 1fr);
}

#grid-container .grid-box {
    aspect-ratio: 1 / 1;
    /* disables grid box from being dragged */
    user-select: none;
}