/* DESIGN FOR MOBILE FIRST */
/* GLOBAL */
html * {
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FAF9F6;
}

/* HEADER */
header, footer {
    text-align: center;
    padding: 24px;
}

/* MAIN CONTENT */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}

section#etch-a-sketch {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    background-color: white;
    /* CREDIT TO: https://getcssscan.com/css-box-shadow-examples (#89) */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    /* MOBILE S to L (0px to 320px) */
    width: 90%;
}

/* TABLET */
@media only screen and (min-width: 426px) and (max-width: 768px) {
    section#etch-a-sketch {
        width: 70%;
    }
}

/* LAPTOP and LAPTOP L */
@media only screen and (min-width: 769px) and (max-width: 1440px) {
    section#etch-a-sketch {
        width: 40%;
    }
}

/* 4K and ABOVE */
@media only screen and (min-width: 1441px) {
    section#etch-a-sketch {
        width: 30%;
    }
}

#grid-container {
    display: grid;
    /* CREDIT TO: https://getcssscan.com/css-box-shadow-examples #44 */
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    grid-template-columns: repeat(4, 1fr);
}

#grid-container .grid-box {
    aspect-ratio: 1 / 1;
    /* disables grid box from being dragged */
    user-select: none;
}