body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
header{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 3rem;
    font-weight: bold;
    padding: 1rem;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#grid-container{
    aspect-ratio: 1 / 1;
    display: grid;
    width: auto;
    height: 50vh;
    border: 1px solid black;
}

.grid-box{
    aspect-ratio: 1 / 1;
    user-select: none;
}

.mode-select{
    background-color: black;
    color: white;
}